<section class="hero grid grid grid-1x2">
  <div class="hero__content">
    <h1 class="hero__heading">Maximize skill, minimize budget</h1>
    <p>
      Our modern courses across a range of in-demand skills will give you the
      knowledge you need to live the life you want.
    </p>
    <button class="btn btn--pink">Get Started</button>
  </div>
  <picture>
    <!-- Mobile -->
    <source
      type="image/webp"
      media="(max-width: 767px)"
      srcset="
        Assets/image-hero-mobile.webp    1x,
        Assets/image-hero-mobile@2x.webp 2x
      "
    />
    <source
      type="image/png"
      media="(max-width: 767px)"
      srcset="
        Assets/image-hero-mobile.png    1x,
        Assets/image-hero-mobile@2x.png 2x
      "
    />
    <!--  Tablet -->
    <source
      type="image/webp"
      media="(min-width: 768px)"
      media="(max-width: 1439px)"
      srcset="
        Assets/image-hero-tablet.webp    1x,
        Assets/image-hero-tablet@2x.webp 2x
      "
    />
    <source
      type="image/png"
      media="(min-width: 768px)"
      media="(max-width: 1439px)"
      srcset="
        Assets/image-hero-tablet.png    1x,
        Assets/image-hero-tablet@2x.png 2x
      "
    />

    <!--  Desktop -->
    <source
      type="image/webp"
      media="(min-width: 1440px)"
      srcset="
        Assets/image-hero-desktop.webp    1x,
        Assets/image-hero-desktop@2x.webp 2x
      "
    />
    <source
      type="image/png"
      media="(min-width: 1440px)"
      srcset="
        Assets/image-hero-desktop.png    1x,
        Assets/image-hero-desktop@2x.png 2x
      "
    />

    <img class="hero__image" src="Assets/image-hero-desktop.png" alt="" />
  </picture>
</section>
